// {{{ general

*
  box-sizing: border-box

body
  background: #eee

#scene
  border: 4px solid #222
  border-bottom: 0
  background: #a2e4e3
  min-height: 400px

#storybox-border
  background: #127f86
  border: 4px solid #222
  padding: 8px

#storybox
  background: #0e5363
  border: 4px solid #222
  color: #fff
  font-family: monospace
  font-size: 1.333em
  font-weight: 300
  line-height: 1.66
  padding: 1.5em 1.5em 1.5em 10em
  min-height: 12em
  svg
    position: absolute
    left: 3em

// general }}}
